body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, "Arial", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.42857;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, "Arial", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-weight: 300;
  line-height: 1.2;
}

img.slide_thumbnail {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

div#prev, div#next, div#pager { display: inline; font-weight:bold; font-color:#fff !important; }
.bx-wrapper .bx-viewport
{
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
    box-shadow: none;
    border: 0;
    left: 0;
    background: #fff;
    height: auto;
    display: block;
}
.bx-wrapper img {
    height: auto;
    display: block;
}
.bx-default-pager { display: inline; color: #ccc; font-weight: normal !important;}

.slide_control {
    text-align:center;
    border:1px solid #000;
    padding-top:4px;
    padding-bottom:4px;
    margin-top: -60px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #656565), color-stop(1.00, #1f1f1f));
    background: -webkit-linear-gradient(#656565, #1f1f1f);
    background: -moz-linear-gradient(#656565, #1f1f1f);
    background: -o-linear-gradient(#656565, #1f1f1f);
    background: -ms-linear-gradient(#656565, #1f1f1f);
    background: linear-gradient(#656565, #1f1f1f);
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
}

.slide_control_link a, .slide_control_link a:hover, .slide_control_link a:visited, .slide_control_link a:active  {
    text-decoration: none;
    color: #eee !important;
}
